@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Welcome to the Toronto Brewery Directory!</h1>
                <p class="lead">This website is a giant safe that contains many breweries located across Toronto. From the east end like Red Tape, all the way to the west with Blood Brothers!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="/Brewery/List" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" type="button">Breweries</a>
                    <a href="/Beer/List" class="btn btn-outline-secondary btn-lg px-4" type="button">Beers</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="~/Content/Images/Website_Images/Godspeed.jpeg" alt="godspeed brewery" width="720" />
            </div>
        </div>
    </div>
</main>